<div class="row">
  <div class="container">
    <form name="new-post" ng-controller="PostController" novalidate>
      <input class="new-post" type="text" placeholder="Title" ng-model="post.title" ngMinlength="10" ngMaxlength="30" ng-required></input>
      <input class="new-post" type="text" placeholder="Description" ng-model="post.description" ngMaxlength="250" ng-required></input>
      <input class="new-post" type="text" placeholder="Color" ng-model="post.color" ngMinlength="3" ng-required></input>
      <input class="new-post" type="number" placeholder="Price" ng-model="post.price" ng-required></input>
    </form>
  </div>
  {{ tagline }}
</div>