@font-face {
  font-family: Lato, sans-serif;
}

/*******************************
  navbar
********************************/
.navigation {
  font-family: Lato;
  font-weight: 100;
  padding: 10px;
  font-size: 20px;
}

.brand {
  font-family: Pacifico, helvetica, sans-serif;
  font-size: 36px;
  border-right: 1px solid black;
}

/*******************************
  footer
********************************/
footer {
  font-family: Lato;
  font-weight: bold;
  text-align: center;
}

/*******************************
  Landing Page
********************************/
video#bigvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/upclosebike.jpg) no-repeat;
  background-size: cover; 
}

.description {
  font-family: Lato;
  color: white;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tagline {
  font-family: Lato;
  font-weight: 200;
  font-size: 48px;
  margin: 50px;
}

.options {
  font-family: pacifico;
  font-size: 36px;
  border-radius: 20%;
  padding: 20px;
  display: inline;
  list-style: none;
  margin: 20px;
}

footer {
  margin: 50px;
}

.get-started {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  background-color: green;
  border-color: green;
  color: white;
}
.get-started:hover {
  color: white;
  background-color: lightblue;
}

/*******************************
  Post a bike for sale
********************************/

#filePicker {
  position: absolute;
  display: inline-block;
  left: 200px;
  top: 100px;
  z-index: 10000 !important;
}

.ng-invalid {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}

/*******************************
  Classifieds
********************************/

.ad {
  font-family: Lato;
  text-align: center;
  width: 100%;
  background-color: #89ABE3;
  background-opacity: 0.2;
  border-radius: 18px;
  box-shadow: 2px 2px 2px gray;
  overflow: auto;
  padding: 10px;
  margin: 20px;
}

.ad-title {
  font-size: 32px;
  font-weight: bold;
}

.ad-image {
  height: 200px;
  width: 300px;
  object-fit: fill;
  box-shadow: 2px 2px 2px gray;
}

.ad-description {
  font-size: 20px;
  padding: 5px;
}

.contact:hover {
  color: white;
}




