#filePicker {
  position: absolute;
  display: inline-block;
  left: 200px;
  top: 100px;
  z-index: 10000 !important;
}

.ng-invalid {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.ng-